@using System.Activities.Expressions
@using MyBlogProject.Entity
@using MyBlogProject.Models
@{
    ViewBag.Title = "直到世界的尽头";   
}
<style type="text/css">
  
    .blogItem {
       
    }
    .blogItem a {
        text-decoration: none;
        color:#333333;
    }
  .post {
      float: right;
      clear: both;
  }
</style>
<style type="text/css">
.page{margin:2em;}
.page a{text-decoration:none;display:inline-block;line-height:14px;padding:2px 5px;color:#333;border:1px solid #ccc;margin:0 2px;}
.page a:hover,.page a.on{background:#999;color:#fff;border:1px solid #333;}
.page a.unclick,.page a.unclick:hover{background:none;border:1px solid #eee;color:#999;cursor:default;}
</style>




<h2>Index</h2>
<div class="content">
    @if (LoginHelper.IsEditMode)
    {
        <div>@Html.ActionLink("新增博客", "Add", "Blog")</div>
    }
    @if (ViewData["tag"] != null)
    {
        <div>当前标签:<span>@ViewData["tag"] </span></div>
    }

    @{
        List<Blog> blogs=Model as List<Blog>;
        foreach (Blog blog in blogs)
        {
            <div class="blogItem">
                <h1 style="border-bottom: silver  dotted 1px;" >@Html.ActionLink(blog.Title, "Post",new{id=blog.BlogId})</h1>
                <div class="post"><span>发表于 @blog.CreateTime | 阅读(@blog.VisitCount)</span>
                @if (LoginHelper.IsEditMode)
                {
                    <span> | @Html.ActionLink("编辑","Add","Blog",new{id=blog.BlogId},new{style="color:blue"})</span>
                }
                </div>
            </div>
            <br/>
        }
    }
</div>
<div id="pageSplit" class="page"></div>
<div class="page"></div>
<script type="text/javascript">
    //container 容器，count 总页数 pageindex 当前页数
   
    function setPage(pageContainer, pageCount, curIndex) {
        var container = pageContainer;
        var count = pageCount;
        var pageindex = curIndex;
        var a = [];
        //总页数少于10 全部显示,大于10 显示前3 后3 中间3 其余.... 赋值完后数组a就自动加1
        if (pageindex == 1) {
            a[a.length] = "<a href=\"#\" class=\"prev unclick\">prev</a>";
        } else {
            a[a.length] = "<a href=\"#\" class=\"prev\">prev</a>";
        }
        function setPageList() {
            if (pageindex == i) {
                a[a.length] = "<a href=\"#"+i+"\" class=\"on\">" + i + "</a>";
            } else {
                a[a.length] = "<a href=\"#\">" + i + "</a>";
            }
        }
        //总页数小于10
        if (count <= 10) {
            for (var i = 1; i <= count; i++) {
                setPageList();
            }
        }
        //总页数大于10页
        else {
            if (pageindex <= 4) {
                for (var i = 1; i <= 5; i++) {
                    setPageList();
                }
                a[a.length] = "...<a href=\"#\">" + count + "</a>";
            } else if (pageindex >= count - 3) {
                a[a.length] = "<a href=\"#\">1</a>...";
                for (var i = count - 4; i <= count; i++) {
                    setPageList();
                }
            }
            else { //当前页在中间部分
                a[a.length] = "<a href=\"#\">1</a>...";
                for (var i = pageindex - 2; i <= pageindex + 2; i++) {
                    setPageList();
                }
                a[a.length] = "...<a href=\"#\">" + count + "</a>";
            }
        }
        if (pageindex == count) {
            a[a.length] = "<a href=\"#\" class=\"next unclick\">next</a>";
        } else {
            a[a.length] = "<a href=\"#\" class=\"next\">next</a>";
        }
        container.innerHTML = a.join("");

        //事件点击
        var pageClick = function() {
            var oAlink = container.getElementsByTagName("a");
            var inx = pageindex; //初始的页码
            oAlink[0].onclick = function() { //点击上一页
                if (inx == 1) {
                    return false;
                }
                inx--;
                window.location.href = "/Home/Index/" + inx;
                setPage(container, count, inx);
                return false;
            };
            for (var i = 1; i < oAlink.length - 1; i++) { //点击页码
                oAlink[i].onclick = function() {
                    inx = parseInt(this.innerHTML);
               
                    setPage(container, count, inx);
                    window.location.href = "/Home/Index/" + inx;
                    return false;
                };
            }
            oAlink[oAlink.length - 1].onclick = function() { //点击下一页
                if (inx == count) {
                    return false;
                }
                inx++;
                window.location.href = "/Home/Index/" + inx;
                setPage(container, count, inx);
                return false;
            };
        }();
    }

    //var index = window.location.href.lastIndexOf('/')+1;
    //var cur = window.location.href.substr(index, 1);
    //setPage(document.getElementById("pageSplit"), 6, cur);

</script>