<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            background-color: #EFEFEC;
            color: #333333;
        }

        #navList li {
            list-style-type: none;
            display: inline;
            margin-right: 5px;
            font-size: large;
        }

        #navList li a {
            color: #fff;
            text-decoration: none;
            padding: 3px 7px;
            text-shadow: 1px 1px 1px #000;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-transition-property: color, background;
            -webkit-transition-duration: 0.5s, 0.5s;
        }

        #navList li a:hover {
            background: #01458e;
            color: #ff0;
            -webkit-transition-property: color, background;
            -webkit-transition-duration: 0.5s, 0.5s;
        }

        #header {
            background-color: #63B8FF;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, #1384d1));
            background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1);
            z-index: 999;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            line-height: 10px;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            position: fixed;
            top: -5px;
            left: 0;
            width: 100%;
            box-shadow: 0 0 40px #222;
            -webkit-box-shadow: 0 0 40px #222;
            -moz-box-shadow: 0 0 40px #222;
        }

        .content {
            width: 80%;margin: auto;padding: 5px 10px
        }
    </style>
     @Scripts.Render("~/bundles/jquery")
     @RenderSection("scripts", required: false)
@*    <script type='text/javascript'>
        (function () {
            var c = document.createElement('script');
            c.type = 'text/javascript';
            c.async = true;
            c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/51339';
            var h = document.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(c, h);
        })();
 </script>*@
</head>
<body>
    
    <div id="header">
        <br/>
        <ul id="navList">
            <li><a id="MyLinks1_HomeLink" class="menu" href="~/Home/Index">博客</a></li>
            <li><a id="MyLinks1_MyHomeLink" class="menu" href="~/Home/Research">实验室</a></li>
            <li><a id="MyLinks1_NewPostLink" class="menu"  href="#">Github</a></li>
            <li><a id="MyLinks1_ContactLink" class="menu"  href="~/Home/About">关于我</a></li>
        </ul>
        <br/>
    </div>
    @RenderBody()
  
   <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F23750b3f6f10c930b5497a1db2a9963f' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
